/* A test of Vaadin UI styling based on the simple example here:
   https://vaadin.com/docs/v8/framework/themes/themes-creating.html */

/* Ignore the IntelliJ error sign for this import statement */
@import "../valo/valo.scss";

@mixin custom_theme {

  @include valo;

  .v-button {
    background: #9cd8fa;
    border-color: #1d7abe;
  }

  .v-menubar {
    border-radius: 2px;
    border: 0;
  }

  .v-menubar > .v-menubar-menuitem {
    border: 0;
    background-color: #9cd8fa;
  }

  .v-slot-navBarLayout {
    padding-left: 40%;
    //background-color: #9cd8fa;
  }

  .v-margin-top {
    padding-top: 25px;
  }
}
